<!--<div style="background-color: #95fc9a; border: solid black 1px;" (click)="closeRelativeCard()">-->
<div>
  <div style="position: relative; top: 100px;" id="contentDiv" (mousemove)="moveNewRelative($event)" >

    <div style="position: absolute">
      <svg height="3000" width="3000" id="linesSVG" (click)="closeRelativeCard()"></svg>
    </div>
    <div style="position: relative" id="Couples">
      <div style="position: relative" *ngFor=" let couple of couples">
        <app-couple *ngIf="getFirstRelative(couple)!=null||getSecondRelative(couple)!=null"
                    [firstRelative]="getFirstRelative(couple)"
                    [secondRelative]="getSecondRelative(couple)"></app-couple>
      </div>
    </div>
    <div style="position: relative" id="Relatives">

      <div style="position: relative" *ngFor="let relative of relatives">
        <app-relatives-component [relative]="relative" (click)="relativeClick(relative, $event)"></app-relatives-component>
      </div>
    </div>
    <app-relative-card class="userCardVisible_story" [style.top]="addingTop" [style.left]="addingLeft"
                       *ngIf="openedRelative" [relative]="openedRelative"></app-relative-card>
    <div id="newRelative" class="relative_story" [style.top]="newRelativeY+'px'" [style.left]="newRelativeX+'px'"
         *ngIf="addingRelative">
    </div>
    <div id="main" *ngIf="addingRelative" style="position: relative; background-color: rgba(84, 76, 76, 0.5);" [style.width]="newDivWidth+'px'"
         [style.height]="newDivHeight+'px'"  (click)="mainDivClick()">

    </div>

  </div>
  <div style="position: relative" id="Buttons" [style.top]="scrollY+'px'" [style.left]="scrollX+'px'">
    <table style="min-height: 100px">
      <tbody>
      <tr>
        <td>
          <select class="b-button b-button_story" id="relativeActions" (change)="relativeAction($event)">
            <option id="noRelativeAction" [selected]="addingRelative===false">Родственник</option>
            <option id="addRelativeAction">Добавить родственника</option>
            <option id="deleteRelativeAction">Удалить родственника</option>
            <option id="editRelative">Изменить родственника</option>
          </select>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="startCreateCouple()"><b>Объединить в пару</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="startAddingLine()"><b>Добавить линию</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(1)"><b>1</b><b> Страница</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(2)"><b>2</b><b> Страница</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(3)"><b>3</b><b> Страница</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(4)"><b>4</b><b> Страница</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(5)"><b>5</b><b> Страница</b></button>
        </td>
        <td>
          <button class="b-button b-button_story" (click)="openPage(6)"><b>6</b><b> Страница</b></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


