.userCardHidden {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(#e4f9fe, #30c8fa);
  border: 1px solid black;
  top: 0px;
  left: 0px;
}

.userCardVisible_violet {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 1;
  color: #4e0a72;
  visibility: visible;
  background: linear-gradient(#dfc9ff, #c7a1ff);
  border: 1px solid black;
  border-radius: 4px;
  text-shadow: 0 -1px 0 #4e0a72;
  font-size: medium;
  top: 0px;
  left: 0px;
}

.userCardVisible_blue {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 1;
  color: #143e72;
  visibility: visible;
  background: linear-gradient(#caddff, #00a1de);
  border: 1px solid black;
  border-radius: 4px;
  text-shadow: 0 -1px 0 #0b203e;
  font-size: medium;
  top: 0px;
  left: 0px;
}

div.relative_story{
  margin: 0px;
  border: 1px solid white;
  position: absolute;
  height: 130px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}

.userCardVisible_yellow {
  position: absolute;
  width: 500px;
  height: 800px;
  opacity: 1;
  visibility: visible;
  background: linear-gradient(#e8ff87, #abff7e);
  border: 1px solid black;
  border-radius: 4px;
  font-size: medium;
  top: 0px;
  left: 0px;
}

.userCardVisible_story {
  position: absolute;
  width: 500px;
  height: 800px;
  opacity: 1;
  visibility: visible;
  background-color: rgba(84, 76, 76, 0.9);
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: white;
  top: 0px;
  left: 0px;
}

.b-button {
  /*-moz-box-sizing: border-box;*/
  /*-webkit-box-sizing: border-box;*/
  box-sizing: border-box;
  /*font-family: "HelveticaNeueLoad", Helvetica, Arial, sans-serif;*/
  /*font-size: 11px;*/
  /*font-weight: bold;*/
  height: 41px;
  min-width: 160px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /*text-decoration: none;*/
  /*-webkit-appearance: none;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*text-rendering: geometricPrecision;*/
  padding: 9px 16px 10px 16px;
  line-height: 20px;
  /*-moz-border-radius: 4px;*/
  /*-webkit-border-radius: 4px;*/
  border-radius: 4px;
  /*text-transform: uppercase;*/
  white-space: nowrap;
  color: #444444;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-bottom: 1px solid #dedede
}

.b-button b {
  position: relative;
  font-size: large;
  text-align: center;
  margin: 5px;
  /*text-shadow: 0 -1px 0 #0284c4;*/
}

.b-button_primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 #0284c4;
  background-color: #00a1de;
  border: 1px solid #00a1de;
  border-top: 1px solid #33b4e5;
  border-bottom: 1px solid #0077b3
}

.b-button_primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 #0284c4;
  background-color: #0284c4;
  border: 1px solid #00a1de;
  border-top: 1px solid #33b4e5;
  border-bottom: 1px solid #0077b3
}

.b-button_primary:active {
  color: #ffffff;
  text-shadow: 0 -1px 0 #0284c4;
  background-color: #33b4e5;
  border: 1px solid #00a1de;
  border-top: 1px solid #33b4e5;
  border-bottom: 1px solid #0077b3
}

.b-button_story
{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}

.b-button_story:hover
{
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.b-button_story:active
{
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


.b-button_yellow {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background-color: #e8ff87;
  border: 1px solid #67723b;
  border-top: 1px solid #444c27;
  border-bottom: 1px solid #444c27
}

.b-button_yellow:hover {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background: linear-gradient(#e8ff87, #abff7e);
  border: 1px solid #67723b;
  border-top: 1px solid #444c27;
  border-bottom: 1px solid #444c27
}

.b-button_yellow:active {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background: linear-gradient(#abff7e, #e8ff87);
  border: 1px solid #67723b;
  border-top: 1px solid #444c27;
  border-bottom: 1px solid #444c27
}


.b-button_silver {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background-color: #dbfaf3;
  border: 1px solid #758681;
}

.b-button_silver:hover {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background: linear-gradient(#dbfaf3, #758681);
  border: 1px solid #758681;
}

.b-button_silver:active {
  color: #444c27;
  text-shadow: 0 -1px 0 #eafdb6;
  background: linear-gradient(#758681, #dbfaf3);
  border: 1px solid #758681;
}


.b-button_violet {
  color: #ffffff;
  text-shadow: 0 -1px 0 #630d94;
  background-color: #8a26ca;
  border: 1px solid #a240e9;
  border-top: 1px solid #b98af3;
  border-bottom: 1px solid #630d94
}

.b-button_violet:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 #630d94;
  background-color: #7721ac;
  border: 1px solid #a240e9;
  border-top: 1px solid #b98af3;
  border-bottom: 1px solid #630d94
}

.b-button_violet:active {
  color: #ffffff;
  text-shadow: 0 -1px 0 #630d94;
  background-color: #9a2ae3;
  border: 1px solid #a240e9;
  border-top: 1px solid #b98af3;
  border-bottom: 1px solid #8e14db
}
