<h1 style="position: relative; text-align: center">{{relative.sername}} {{relative.name}} {{relative.middleName}}</h1>
<p><b>Дата рождения: </b>{{relative.birthDate}}</p>
<p><b>Дата смерти: </b>{{relative.deathDate}}</p>
<p><b>Место рождения: </b>{{relative.birthPlace}}</p>
<p><b>Место жительства: </b>{{relative.livingPlace}}</p>
<p><b>Номер телефона: </b>{{relative.phoneNumber}}</p>
<p><b>Образование: </b>{{relative.education}}</p>
<p><b>Семейное положение: </b>{{relative.familyStatus}}</p>
<p><b>Дополнительная информация: </b>{{relative.additionalInformation}}</p>
