
    <div class="relative_story" [style.align-content]="'center'"
         [style.Top]="relative.yPosition+'px'" [style.Left]="relative.xPosition+'px'" >
      <div style="position:relative;" >
<!--        <b style="position: relative; margin: 10px; font-size: large"> Иванович</b>-->
        <p style="position: relative; text-align: center; margin: 5px; font-size: large"><b>{{relative.sername}} {{relative.name}} {{relative.middleName}}</b></p>
        <p style="position: relative; text-align: center; margin: 5px; font-size: medium">{{relative.birthDate}}</p>
        <p style="position: relative; text-align: center; margin: 5px; font-size: medium">{{relative.deathDate}}</p>
      </div>
    </div>
