body {
  background-color: #bde4fb;
}

div {
  position: relative;
  border-radius: 3px 4px;
  width: 100%;
  height: 100%;
}

div canvas {
  border-radius: 3px 4px;
  vertical-align: 100%;
}

div.mainContainer {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.coupleRelative {
  margin: 5px;
  border: 1px solid black;
  position: absolute;
  height: 250px;
  width: 430px;
  top: 0px;
  left: 0px;
  background-color: aquamarine;
}


div.relative_violet {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  /*background-color: #cefe98;*/

  color: #ffffff;
  text-shadow: 0 -1px 0 #300067;
  background-color: #8a26ca;
  /*border: 1px solid #00a1de;*/
  /*border-top: 1px solid #33b4e5;*/
  /*border-bottom: 1px solid #0077b3;*/
}

div.relative_blue {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  /*background-color: #cefe98;*/

  color: #ffffff;
  /*text-shadow: 0 -1px 0 #143e72;
  background-color: #3a84db;*/
  text-shadow: 0 -1px 0 #0284c4;
  background-color: #00a1de;
  /*border: 1px solid #00a1de;*/
  /*border-top: 1px solid #33b4e5;*/
  /*border-bottom: 1px solid #0077b3;*/
}



div.relative_story{
  margin: 0px;
  border: 1px solid white;
  position: absolute;
  height: 130px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}

div.relative_story:hover{
  margin: 0px;
  border: 1px solid white;
  position: absolute;
  height: 130px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}

div.relative_story:active{
  margin: 0px;
  border: 1px solid white;
  position: absolute;
  height: 130px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}



div.relative_yellow{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: #e8ff87;
}

div.relative_yellow:hover{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient(#e8ff87, #abff7e);
}

div.relative_yellow:active{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient( #abff7e,#e8ff87);
}

div.relative_silver{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: #dbfaf3;
}

div.relative_silver:hover{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient(#dbfaf3, #758681);
}

div.relative_yellow:active{
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient( #758681,#dbfaf3);
}

div.relative_violet:hover {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;

  color: #ffffff;
  text-shadow: 0 -1px 0 #300067;
  /*background-color: #00a1de;*/
  /*border: 1px solid #00a1de;*/
  /*border-top: 1px solid #33b4e5;*/
  /*border-bottom: 1px solid #0077b3;*/
  /*background: linear-gradient(#cefe98,#b6ff00);*/
  background: linear-gradient(#8a26ca, #a449e5);
}

div.relative_blue:hover {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;

  color: #ffffff;
  text-shadow: 0 -1px 0 #143e72;
  /*background-color: #00a1de;*/
  /*border: 1px solid #00a1de;*/
  /*border-top: 1px solid #33b4e5;*/
  /*border-bottom: 1px solid #0077b3;*/
  /*background: linear-gradient(#cefe98,#b6ff00);*/
  background: linear-gradient(#3a84db, #8fb0e3);
}

div.relative_violet:active {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient(#c38fee, #af5cee);
}

div.relative_blue:active {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient( #8fb0e3,#3a84db);
}

div.relativeMouseEnter {
  margin: 0px;
  border: 1px solid black;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background: linear-gradient(#cefe98, #b6ff00);
}

div.coupleRelativeMouseEnter {
  margin: 5px;
  border: 1px solid black;
  position: absolute;
  height: 250px;
  width: 430px;
  top: 0px;
  left: 0px;
  background: linear-gradient(aquamarine, #b6ff00);
}

div.addingRect {
  border: 1px solid #808080;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
}

div.userCard {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(#e4f9fe, #30c8fa);
  border: 1px solid black;
  top: 0px;
  left: 0px;
}
