div.userCardVisible {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 1;
  visibility:visible;
  background: linear-gradient(#e4f9fe,#30c8fa);
  border: 1px solid black;
  top: 0px;
  left: 0px;
}

div.userCardHidden {
  position: absolute;
  width: 300px;
  height: 400px;
  opacity: 1;
  visibility:hidden;
  background: linear-gradient(#e4f9fe,#30c8fa);
  border: 1px solid black;
  top: 0px;
  left: 0px;
}
