div.couple_green{
  margin: 0px;
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: #95fc9a;
}

div.couple_story{
  margin: 0px;
  border: 1px solid white;
  border-radius: 4px;
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}
